.header {
	width: 100%;
	height: var(--headerThickness);
	background: var(--colorBackgroundSecondary);
	display: flex;
	justify-content: space-between;
	align-items: center;

	> .back {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 18px;
		cursor: pointer;
		transition: transform 0.2s ease-out;

		> .icon {
			width: 18px;
			height: 18px;
			margin-right: 10px;
			transition: transform 0.1s ease-out;
		}

		> p {
			font-weight: 400;
			user-select: none;
			transition: transform 0.1s ease-out;
		}

		&.disable {
			transform: translateX(-100%);
		}

		&:hover {
			> .icon {
				transform: translateX(-5px);
			}

			> p {
				transform: translateX(-5px);
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
