.header {
	width: 100%;
	height: var(--headerThickness);
	background: var(--colorBackgroundSecondary);
	display: flex;
	justify-content: space-between;
	align-items: center;

	> .back {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 18px;
		cursor: pointer;
		transition: transform 0.1s ease-out;

		> .icon {
			width: 18px;
			height: 18px;
			margin-right: 10px;
			transition: transform 0.1s ease-out;
		}

		> p {
			font-weight: 400;
			user-select: none;
			transition: transform 0.1s ease-out;
		}

		&:hover {
			> .icon {
				transform: translateX(-5px);
			}

			> p {
				transform: translateX(-5px);
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}

	> .avatar {
		display: flex;
		justify-content: center;
		align-items: center;

		> .userName {
			font-size: 14px;
			font-weight: 400;
		}

		> span {
			position: relative !important;
			width: var(--headerThickness) !important;
			height: var(--headerThickness) !important;
			padding: 18px !important;
			overflow: hidden !important;
			cursor: pointer;

			> img {
				position: relative !important;
				width: 100% !important;
				height: 100% !important;
				border-radius: 999px !important;
				transition: transform 0.2s ease-out !important;
			}
		}

		&:hover {
			> span {
				> img {
					transform: scale(1.1);
				}
			}
		}
	}
}
