/* stylelint-disable selector-id-pattern */
html {
	overflow-x: hidden;

	// Background Colors
	--colorBackgroundPrimary: #FFF;
	--colorBackgroundSecondary: #EEE;

	// Border Colors
	--colorBorderPrimary: #EEE;

	// Text Colors
	--colorContentPrimary: black;
	--colorContentPrimaryDark: #EEE;

	// Other Colors
	--colorAccentRGB: 127 81 255;
	--colorAccent: rgb(var(--colorAccentRGB));

	// Size
	--headerThickness: 70px;
	--headerLogoSize: 44px;
	--landingHeight: 260vh;
	--profileHeight: 400vh;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: var(--colorBackgroundSecondary);
	scroll-behavior: smooth;

	::selection {
		color: white;
		background: var(--colorAccent);
	}
}

#__next {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

* {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}
